<a href="https://colab.research.google.com/github/Hemanthk408/Beer-production/blob/main/Beer_Production.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/beer_states.csv")

In [3]:
df

      state  year      barrels              type
0        AK  2008      2067.69       On Premises
1        AK  2009      2263.65       On Premises
2        AK  2010      1929.15       On Premises
3        AK  2011      2251.02       On Premises
4        AK  2012      2312.43       On Premises
...     ...   ...          ...               ...
1867  total  2015  17750504.62  Kegs and Barrels
1868  total  2016  17000382.28  Kegs and Barrels
1869  total  2017  16514866.69  Kegs and Barrels
1870  total  2018  15662381.42  Kegs and Barrels
1871  total  2019  14880067.09  Kegs and Barrels

[1872 rows x 4 columns]

In [12]:
df.nunique()

state        52
year         12
barrels    1848
type          3
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   state    1872 non-null   object
 1   year     1872 non-null   int64
 2   barrels  1853 non-null   float64
 3   type     1872 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 58.6+ KB

In [13]:
df=pd.DataFrame(df)

In [15]:
df['year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019])

In [17]:
df['state'].unique()

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'total'], dtype=object)

In [18]:
df["type"].unique()

array(['On Premises', 'Bottles and Cans', 'Kegs and Barrels'],
      dtype=object)

In [19]:
df['state'] = df['state'].astype(int)

ValueError: invalid literal for int() with base 10: 'AK'

In [24]:
mapping={'On Premises':1, 'Bottles and Cans':0, 'Kegs and Barrels':2}

In [25]:
mapping

{'On Premises': 1, 'Bottles and Cans': 0, 'Kegs and Barrels': 2}

In [27]:
df['type']=df['type'].replace(mapping)

<ipython-input-27-f2bfdcb0444b>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['type']=df['type'].replace(mapping)

In [28]:
df['type']

0       1
1       1
2       1
3       1
4       1
       ..
1867    2
1868    2
1869    2
1870    2
1871    2
Name: type, Length: 1872, dtype: int64

In [ ]:
# Mapping dictionary mapping = {'one': 1, 'two': 2, 'three': 3}
# Replace 'col1' values using the mapping dictionary df['col1'] = df['col1'].replace(mapping)