<a href="https://colab.research.google.com/github/Hemanthk408/Beer-production/blob/main/Beer_Production.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/beer_states.csv")

In [3]:
df

      state  year      barrels              type
0        AK  2008      2067.69       On Premises
1        AK  2009      2263.65       On Premises
2        AK  2010      1929.15       On Premises
3        AK  2011      2251.02       On Premises
4        AK  2012      2312.43       On Premises
...     ...   ...          ...               ...
1867  total  2015  17750504.62  Kegs and Barrels
1868  total  2016  17000382.28  Kegs and Barrels
1869  total  2017  16514866.69  Kegs and Barrels
1870  total  2018  15662381.42  Kegs and Barrels
1871  total  2019  14880067.09  Kegs and Barrels

[1872 rows x 4 columns]

In [12]:
df.nunique()

state        52
year         12
barrels    1848
type          3
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   state    1872 non-null   object
 1   year     1872 non-null   int64
 2   barrels  1853 non-null   float64
 3   type     1872 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 58.6+ KB

In [13]:
df=pd.DataFrame(df)

In [15]:
df['year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019])

In [17]:
df['state'].unique()

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'total'], dtype=object)

In [18]:
df["type"].unique()

array(['On Premises', 'Bottles and Cans', 'Kegs and Barrels'],
      dtype=object)

In [24]:
mapping={'On Premises':1, 'Bottles and Cans':0, 'Kegs and Barrels':2}

In [25]:
mapping

{'On Premises': 1, 'Bottles and Cans': 0, 'Kegs and Barrels': 2}

In [27]:
df['type']=df['type'].replace(mapping)

<ipython-input-27-f2bfdcb0444b>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['type']=df['type'].replace(mapping)

In [28]:
df['type']

0       1
1       1
2       1
3       1
4       1
       ..
1867    2
1868    2
1869    2
1870    2
1871    2
Name: type, Length: 1872, dtype: int64

In [35]:
df.isnull().sum()

state       0
year        0
barrels    19
type        0
dtype: int64

In [36]:
df['barrels']=df['barrels'].fillna(method='ffill')

<ipython-input-36-c2d359347167>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['barrels']=df['barrels'].fillna(method='ffill')

In [37]:
df.isnull().sum()

state      0
year       0
barrels    0
type       0
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   state    1872 non-null   object
 1   year     1872 non-null   int64
 2   barrels  1853 non-null   float64
 3   type     1872 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 58.6+ KB

In [38]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [39]:
for i in df.select_dtypes(include=["object"]).columns:
  df[i]=encoder.fit_transform(df[[i]])

In [40]:
df

      state  year      barrels  type
0         0  2008      2067.69     1
1         0  2009      2263.65     1
2         0  2010      1929.15     1
3         0  2011      2251.02     1
4         0  2012      2312.43     1
...     ...   ...          ...   ...
1867     51  2015  17750504.62     2
1868     51  2016  17000382.28     2
1869     51  2017  16514866.69     2
1870     51  2018  15662381.42     2
1871     51  2019  14880067.09     2

[1872 rows x 4 columns]

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   state    1872 non-null   int64
 1   year     1872 non-null   int64
 2   barrels  1872 non-null   float64
 3   type     1872 non-null   int64
dtypes: float64(1), int64(3)
memory usage: 58.6 KB

In [43]:
df.corr()

                state          year   barrels          type
state    1.000000e+00 -9.424332e-16  0.144253  7.450801e-16
year    -9.424332e-16  1.000000e+00 -0.005593 -2.951065e-13
barrels  1.442526e-01 -5.593203e-03  1.000000 -1.692831e-01
type     7.450801e-16 -2.951065e-13 -0.169283  1.000000e+00

In [44]:
import numpy as np
import scipy.stats as stats

# Sample data
df= np.random.normal(size=1000)

# Calculate kurtosis
kurtosis_value = stats.kurtosis(df)

# Perform Jarque-Bera test
jb_stat, p_value = stats.jarque_bera(df)

print(f'Kurtosis: {kurtosis_value}')
print(f'Jarque-Bera Test Statistic: {jb_stat}, P-value: {p_value}')

Kurtosis: -0.23716132297700732
Jarque-Bera Test Statistic: 3.2183359781701872, P-value: 0.2000539919563184