<a href="https://colab.research.google.com/github/Hemanthk408/Beer-production/blob/main/Beer_Production.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/content/beer_states.csv")

In [3]:
df

      state  year      barrels              type
0        AK  2008      2067.69       On Premises
1        AK  2009      2263.65       On Premises
2        AK  2010      1929.15       On Premises
3        AK  2011      2251.02       On Premises
4        AK  2012      2312.43       On Premises
...     ...   ...          ...               ...
1867  total  2015  17750504.62  Kegs and Barrels
1868  total  2016  17000382.28  Kegs and Barrels
1869  total  2017  16514866.69  Kegs and Barrels
1870  total  2018  15662381.42  Kegs and Barrels
1871  total  2019  14880067.09  Kegs and Barrels

[1872 rows x 4 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   state    1872 non-null   object
 1   year     1872 non-null   int64
 2   barrels  1853 non-null   float64
 3   type     1872 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 58.6+ KB

In [7]:
df=pd.DataFrame(df)

In [10]:
df.apply(pd.Series.unique)

state      [AK, AL, AR, AZ, CA, CO, CT, DC, DE, FL, GA, H...
year       [2008, 2009, 2010, 2011, 2012, 2013, 2014, 201...
barrels    [2067.69, 2263.65, 1929.15, 2251.02, 2312.43, ...
type       [On Premises, Bottles and Cans, Kegs and Barrels]
dtype: object

In [15]:
sum_unique = {col: sum_unique_values(df[col]) for col in df.columns}

TypeError: 'dict' object is not callable

In [14]:
sum_unique_values = {col: df[col].unique().sum() for col in df.select_dtypes(include=['all']).columns}

TypeError: data type 'all' not understood

In [13]:
sum_unique_values

{'year': 24162, 'barrels': nan}

In [11]:
df.unique()value_counts()

SyntaxError: invalid syntax (<ipython-input-11-7f9759e38a6f>, line 1)